.fab {
    position: absolute;
    right: 20px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    cursor: pointer;
    display: grid;
    place-items: center;
    box-shadow: 0 0 4px 0 var(--color-primary);
}

.fab:hover {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary-pressed);
}
