.page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.page.page--with-sidebar {
    padding-left: 270px;
}

.container {
    width: 100%;
    max-width: 750px;
}

.app {
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr;
}
